---
import "@styles/ticket.css";
---
<div class="ticket-container"> <!-- Added this container -->
    <div class="ticket">
      <div class="left">
        <div class="image">
          <p class="admit-one">
            <span>TEDxNCIT</span>
            <span>TEDxNCIT</span>
            <span>TEDxNCIT</span>
          </p>
          <div class="ticket-number">
            <p>#20030220</p>
          </div>
        </div>
        <div class="ticket-info">
          <p class="date">
            <span>Saturday</span>
            <span class="june-29">JUNE 29TH</span>
            <span>2025</span>
          </p>
          <div class="show-name">
            <h2>You are invited</h2>
            <h1>Nischal <span class="white">Dhakal</span></h1>
            <h2>to</h2>
            <h1>TEDx<span class="white">NCIT</span></h1>
            <h2>Nepal College of Information Technology</h2>
          </div>
          <div class="time">
            <p>10:00 AM <span>TO</span> 05:00 PM</p>
            <p>arrive <span>@</span> 9:00 AM</p>
          </div>
          <p class="location">
            <span>Pragya Pratisthan</span>
            <span class="separator"><span class="red">X</span></span>
            <span>Kamaladi, Kathmandu</span>
          </p>
        </div>
      </div>
      <div class="right">
        <p class="admit-one">
          <span>TEDxNCIT</span>
          <span>TEDxNCIT</span>
          <span>TEDxNCIT</span>
        </p>
        <div class="right-info-container">
          <div class="show-name">
            <p>TEDx<span class="white">NCIT</span></p>
          </div>
          <div class="time">
            <p>10:00 AM <span>TO</span> 05:00 PM</p>
            <p>arrive <span>@</span> 9:00 AM</p>
          </div>
          <div class="barcode">
            <img src="https://boofcv.org/images/thumb/3/35/Example_rendered_qrcode.png/400px-Example_rendered_qrcode.png" alt="QR code">
          </div>
          <p class="ticket-number">#20030220</p>
        </div>
      </div>
    </div>
  </div>