html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

/* ::selection {
    background-color: transparent !important;
    color: #4dc1f7 !important;
    text-shadow: 0 0 8px rgba(14, 165, 233, 0.8) !important;
  } */
  
  ::selection {
    background-color: transparent !important;
    color: #eb0028 !important;
    text-shadow: 0 0 8px rgba(235, 0, 40, 0.8) !important;
  }